body{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

nav{
    background-color: rgb(65, 65, 65);
    width: 80%;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20%;
}
nav ul{
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main{
    width: 80%;
    
}

.pic{
    display: grid;
    grid-template-columns: auto auto;
}