body{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    width: 80%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}